<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidacademyfundamentals"
        tools:targetApi="31">

        <activity
            android:name=".WS01Step01AssignmentActivity"
            android:exported="true"
            android:label="@string/ws01_step01_activity_title"
            android:taskAffinity="com.android.fundamentals.workshop01.WS01Step01.ScreenRotationActivity">

        </activity>

        <!--
        TODO(WS01:ST02:01) With activities from WS01 Step02:
         WS01Step02ActivityA, WS01Step02ActivityB, WS01Step02ActivityC, WS01Step02ActivityD.
         Change "launchMode" attribute values with one of the following: standard, singleTop, singleTask, singleInstance.
         Rebuild and Run app.
         Again, collapse application on the device and start app by clicking on WS01 Step02 icon.
         Start several activities, then press device's "Back" button and see how activities are closing in a reverse order.
         Back stack order is changed according to launch modes you choose.
        -->
        <activity
            android:name=".WS01Step02ActivityA"
            android:exported="true"
            android:label="@string/ws01_step02_activity_title"
            android:launchMode="standard" />

        <!-- TODO(WS01:ST02) -->
        <activity
            android:name=".WS01Step02ActivityB"
            android:label="@string/ws01_step02_activity_b_title"
            android:launchMode="singleTop" />

        <!-- TODO(WS01:ST02) -->
        <activity
            android:name=".WS01Step02ActivityC"
            android:label="@string/ws01_step02_activity_c_title"
            android:launchMode="singleInstance" />

        <!-- TODO(WS01:ST02) -->
        <activity
            android:name=".WS01Step02ActivityD"
            android:label="@string/ws01_step02_activity_d_title"
            android:launchMode="singleTask" />

        <activity
            android:name=".WS02AssignmentActivity"
            android:exported="true"
            android:label="@string/ws02_activity_title" />

        <activity
            android:name=".WS03AssignmentActivity"
            android:exported="true"
            android:label="@string/ws03_activity_title">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>